

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This centers the image vertically */

}

.image-frame {
    border: 3px solid black;
    width: 50%; /* Adjust this as needed */
    max-width: 100%; /* Prevent the image from getting larger than its original size */
}
.custom-top {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

/* Style for the details container */
.details-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style for the cards */
.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    max-width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Style for the Modify button */
.modify-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style for the pop-up */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #aaa;
    max-width: 400px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for form fields in the pop-up */
#modificationForm label {
    display: block;
    margin-bottom: 8px;
}

#modificationForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Style for Save and Cancel buttons in the pop-up */
#modificationForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

    #modificationForm button.cancel {
        background-color: #bbb;
    }

.announcement-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.announcement-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    padding: 10px;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@font-face {
    font-family: 'Zoo';
    src: url('chinese rocks rg.otf') format('opentype');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Zoo', sans-serif;
    font-size: 25px;
    background-color: #FFF0DE;
}

.custom-header {
    background-color: #9400D3;
}

    .custom-header .navbar-nav {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .custom-header.navbar-light .navbar-brand,
    .custom-header.navbar-light .navbar-nav .nav-link {
        color: white;
    }

    .custom-header .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
        background-color: purple;
    }

        .custom-header .navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item {
            color: white;
        }

.logo {
    height: 80px;
    margin-right: 10px;
}

.custom-header .container {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.custom-header .navbar-toggler {
    order: -1;
}

@media (max-width: 767px) {
    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
        justify-content: center;
    }
}

.btn-light-blue {
    background-color: #6CB4EE;
    color: #000;
}

.purple-heading {
    color: #9400D3;
}

.text-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 0 20px;
}

.flag-image {
    width: 120px;
    height: 80px;
}

.image-frame {
    max-width: calc(100% - 60px);
    max-height: 100%;
}


.text-container.ticket-text p {
    font-size: 19px;
}

.text-container.ticket-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.text-container.ticket-text li {
    margin-bottom: 8px;
}

.carousel-inner {
    transition: opacity 1s ease-in-out;
}

.carousel-item {
    display: flex;
    opacity: 0;
}

    .carousel-item.active {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
