
html {
    font-size: 14px;
    color: #FFFFFF !important;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {

    min-height: 100%;
    color: #FFFFFF !important;
}

body {
    
 gap:0;
    background-image: linear-gradient(#261342, #1339BE);
}
.primary {
    background-color: #261342 !important;
}
.bg-primary {
    background-color: #261342 !important;

}
.nav{
    padding-bottom:-20px;
}

.navbar {
    color: #FFFFFF !important;
    padding-top:50px;
    padding-bottom:-20px;
    border-bottom: none !important;
    
}
.nav-link {
    color: #FFFFFF !important;
}
.navbar-brand{
    color:white !important;
}
.btn-secondary {
    background-color: #261342 !important;
    border: 1px solid #0D6EFD;
}
.btn-secondary:hover {
    background-color: #261342 !important;
    border: 1px solid red;
}
.btn-secondary:focus {
        
        border: 1px solid red !important;
        box-shadow: rgb(255 0 0) 3px 2px   !important;
        
}
.btn-primary {
    background-color: #261342 !important;
    width: 157px; 
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 

}
label {
    color: royalblue;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: fantasy;
}
/* I refuse to elaborate on the monstrosity from line 67 to 264 it needs refactoring and barely works */
@media (max-width: 1200px) {
    .navbar-brand {
        display: flex;
        align-items: center;
    }

        .navbar-brand img {
            width: 100px; 
        }

    .navbar-toggler {
        padding: 0;
        margin: 0;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .Baazar {
        margin-right: -20px;
        padding-right: -20px;
    }

    .navbar-collapse {
        flex: 1; 
    }

    .btn-secondary {
        padding-left: 0px;
        margin-left: 0px;
        width: auto; 
        max-width: 150px; 
    }

    .btn-primary {
        padding-left: 0px;
        margin-left: 0px;
        width: auto; 
        width: 150px;
    }
}
@media (max-width: 1000px) {
    .navbar-brand {
        display: flex;
        align-items: center;
    }


        .navbar-brand img {
            width: 100px; 
        }

    .navbar-toggler {
        padding: 0;
        margin: 0;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .Baazar {
        margin-right: -20px;
        padding-right: -20px;
    }

    .navbar-collapse {
        flex: 1; 
    }

     .btn-secondary {
        padding-left: 0px;
        margin-left: 0px;
        width: auto; 
        max-width: 150px; 
    }
    .btn-primary {
        padding-left: 0px;
        margin-left: 0px;
        width: auto; 
        width: 150px; 
    }
}
@media (max-width: 910px) {
    .navbar-brand {
        display: flex;
        
        align-items: center;
    }



    .navbar-brand img {
        width: 100px; 
    }

    .navbar-toggler {
        padding: 0;
        margin: 0;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .Baazar {
        margin-right: -20px;
        padding-right: -20px;
    }

    .navbar-collapse {
        flex: 1; 
    }

    .btn-secondary {
        padding-left: 0px;
        margin-left: 0px;
        width: auto; 
        max-width: 150px; 
    }

    .btn-primary {
        padding-left: 0px;
        margin-left: 0px;
        width: auto; 
        width: 100px; 
    }
}
@media (max-width: 800px) {
    .navbar-brand {
        display: flex;
        align-items: center;
    }
    .title-holder {
        padding-left: 100px;
    }
        .navbar-brand img {
            width: 100px; 
        }
    .navbar-toggler{
        padding: 0;
        margin: 0;
    }
    .navbar-toggler-icon {
        display:none;
    }
    .Baazar{
        margin-right:-20px;
        padding-right:-20px;
    }

    .navbar-collapse {
        flex: 1; 
    }

    .btn-primary, .btn-secondary {
        padding-left:0px;
        margin-left:0px;
        width: auto;
        max-width: 100px; 
    }
}
@media (max-width: 800px) {
    .navbar-brand {
        display: flex;
        align-items: center;
    }
    .title-holder {
        padding-left: 100px;
    }
        .navbar-brand img {
            width: 100px; 
        }
    .navbar-toggler{
        padding: 0;
        margin: 0;
    }
    .navbar-toggler-icon {
        display:none;
    }
    .Baazar{
        margin-right:-20px;
        padding-right:-20px;
    }

    .navbar-collapse {
        flex: 1; 
    }
    .title-holder {
        padding-left: 100px;
    }
    .btn-primary, .btn-secondary {
        padding-left:0px;
        margin-left:0px;
        width: auto; 
        max-width: 100px; 
    }
}
@media only screen and (max-width: 575px) {
    .navbar-collapse {
        display: flex !important;
         
    }
    .title-holder {
        padding-left: 100px;
    }

    .navbar-toggler {
        display: flex !important;
    }

    .btn-primary,
    .btn-secondary {
         
        
    }
}   
    
.dropdown-menu {
    width: 20px !important;
    margin-top:36px;
    text-align: center;
    color: white !important;
}
.dropdown-item {
    color: white !important;
    outline: none !important;
    
}
.btn {
   
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: royalblue;
    color: white !important;
    outline: none !important;
}

.dropdown-divider{
    color:white !important;
    background-color: royalblue !important;
}


main{
    margin-top:0px;
    padding-bottom:0px;
}
.display-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
section {
    text-align: center;
    padding: 200px 0;
    height: 500px;
}
.something {
    text-align: center;
    padding: 200px 0;
    height: 500px;
}

.myHeader {
    box-shadow: none;
    padding-bottom: -50px;
}
header{
    box-shadow:none;
    
    padding-bottom:-50px;

}

.tagline{
    padding-top:-20px;
    margin-top:-150px;
}
h1 {
    font-size: 3em;
    letter-spacing: 1px;
    font-family: fantasy;
    color: royalblue;
}
p{
    max-width:500px;
    margin:0px auto;
    background-color: rgba(0,0,0,0.7);
    color:#fff;
    padding:20px;
    font-family:Arial;
    letter-spacing:1px;
}
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This centers the image vertically */

}

.image-frame {
    border: 3px solid black;
    width: 50%; /* Adjust this as needed */
    max-width: 100%; /* Prevent the image from getting larger than its original size */
}
.custom-top {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

/* Style for the details container */
.details-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Style for the cards */
.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    max-width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Style for the Modify button */
.modify-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Style for the pop-up */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #aaa;
    max-width: 400px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for form fields in the pop-up */
#modificationForm label {
    display: block;
    margin-bottom: 8px;
}

#modificationForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Style for Save and Cancel buttons in the pop-up */
#modificationForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

    #modificationForm button.cancel {
        background-color: #bbb;
    }
