@page
@model Web_Layer.Pages.aboutModel
@{
}

<div class="wrapper">
     <section>
         <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacus lorem, scelerisque et massa vitae, tincidunt dictum elit. Nullam ex justo, fringilla non pretium eget, viverra ac felis. Morbi in dapibus augue. Duis dictum quam in libero tempus, ac fermentum neque ullamcorper. Donec vulputate tellus sit amet leo feugiat, in suscipit metus auctor. Aenean at purus velit. Curabitur sed diam lacus. Nulla</p>
     </section>


</div>