@page
@model Web_Layer.Pages.aboutModel
@{
    ViewData["Title"] = "INFORMATION";
}


<div class="text-center">
    <h2 class="display-4  purple-heading">INFORMATION</h2>
    <div class="text-container">
        <p>
            Near Eindhoven, among the fields, is a very special zoo. It’s a great place where people and animals can have fun together. From large rhinos to small penguins – from proud cheetahs to lively little fishes – they all join in at Dierenrijk. What are you waiting for? Whirl your way through our playground and discover the animal world up close.
        </p>
    </div>
    <a class="btn btn-light-blue btn-lg" asp-area="" asp-page="ticket_info">Order Tickets</a>

</div>