@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section data-parallax="scroll" data-image-src="img/jaguar.jpeg">
    <div class="Parastuff">
        <h1>Welcome to our Zoo</h1>
        <p>Welcome</p>
    </div>
</section>

<section data-parallax="scroll" data-image-src="img/Top.jpg">
    
    <div class="Parastuff">
        <p>Latest Announcement</p>
        <p>@Model.announce.Title</p>
        <p>@Model.announce.Text</p>

    </div>
</section>

<section data-parallax="scroll" data-image-src="img/lion2.jpg">
    <div class="Parastuff">
    <h1>See more information at <a href="/about">about</a></h1>
    </div>
</section>
