@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section data-parallax="scroll" data-image-src="img/main.jpg">
    <div class="tagline">
    <h1>Welcome to our Zoo</h1>
    <p>Welcome</p>
    </div>
</section>

    <section data-parallax="scroll" data-image-src="img/panda.jpg">
    <h1>Our Animals</h1>
    <ul>
        <li><a href="#">Mammals</a></li>
        <li><a href="#">Reptiles</a></li>
        <li><a href="#">Aquatic</a></li>
        <li><a href="#">Aliens</a></li>
    </ul>
</section>

    <section data-parallax="scroll" data-image-src="img/savannah.jpg">
    <h1>Something</h1>
</section>

    <section data-parallax="scroll" data-image-src="img/cave.jpg">
    <h1>something</h1>
</section>

    <section data-parallax="scroll" data-image-src="img/aqua.jpg">
    <h1>End</h1>
</section>



