@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="col-md-6">
    <div class="text-center">
        <h2 class="display-4 purple-heading">GET CLOSER TO THE ANIMALS</h2>
        <div class="text-container">
            <p>
                From large rhinos to small penguins. From proud cheetahs to cheerful fish. Come face to face with your favorite animal. Will we see you soon?
            </p>
        </div>
    </div>
</div>