@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section data-parallax="scroll" data-image-src="img/jaguar.jpeg">
    <div class="tagline">
    <h1>Welcome to our Zoo</h1>
    <p>Welcome</p>
    </div>
</section>

    <section data-parallax="scroll" data-image-src="img/Top.jpg">
    <h1>Our Animals</h1>
    <ul>
        <li><a href="#">Mammals</a></li>
        <li><a href="#">Reptiles</a></li>
        <li><a href="#">Aquatic</a></li>
        <li><a href="#">Aliens</a></li>
    </ul>
</section>

    <section data-parallax="scroll" data-image-src="img/lion2.jpg">
    <h1>See more information at <a href="/about">about</a></h1>
</section>

</section>



