@page
@model Web_Layer.Pages.mapModel
@{
}

<form method='post' asp-page="./map" id="languageForm">
    <div class="image-container">
        <button type='submit' class='btn btn-link' asp-page-handler='EN'>
            <img src='/img/english.png' alt='English Flag' class='flag-image' />
        </button>

        <img class="image-frame" src="@Model.Img" id="zoom-responsive-image" />

        <button type='submit' class='btn btn-link' asp-page-handler='NL'>
            <img src='/img/dutch.png' alt='Dutch Flag' class='flag-image' />
        </button>
    </div>

</form>

<script>
    window.addEventListener('resize', adjustImageSize);

    function adjustImageSize() {
        const zoomLevel = window.innerWidth / window.outerWidth;

        const imageSize = 30 * zoomLevel; // Adjust the size as needed

        const image = document.getElementById('zoom-responsive-image');
        image.style.width = imageSize + 'vw';
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.flag-btn').forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default form submission
                var form = document.getElementById('languageForm');
                var handler = this.getAttribute('asp-page-handler');
                form.elements['handler'].value = handler;
                form.submit(); // Manually submit the form
            });
        });
    });
</script>