@page
@model individual_project.Pages.PasswordResetSuccessModel
@{
}
<div style="display:flex;flex-direction:row;justify-content:center;">
    <h1>
        Your password has been reset successfully
    </h1>
</div>
<div style ="display:flex;flex-direction:row;justify-content:center;">
    <a href="/login">Click here to be redirected to the login page</a>
</div>