@page
@model Web_Layer.Pages.QrpageModel
@{
}
@{
    Layout = null;
}
<html>
<head>
    <style>
        body {
            background-color: @(Model.valid ? "green" : "red");
        }
    </style>
</head>
<body>
</body>
</html>