@page
@model Web_Layer.Pages.scheduleModel
@{
}
<body>
    <h1>Schedules</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>EmployeeID</th>
                <th>ShiftID</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.schedules)
            {
                <tr>
                    <td>@schedule.ScheduleId</td>
                    <td>@schedule.EmployeeId</td>
                    <td>@schedule.Shift</td>
                    <td>@schedule.Date</td>                   
                </tr>
            }
        </tbody>
    </table>
</body>
