@page
@model Web_Layer.Pages.scheduleModel
@{
    var schedulesByDate = Model.schedules.GroupBy(s => s.Date.Date).OrderBy(g => g.Key);
}

<body>
    <div class="container mt-2" style=" justify-content: center; align-items: center;">
        <div class="row" style="justify-content: center; align-items: center;">
            @Html.Raw(Model.GenerateShifts(Model.currentDay))
        </div>
    </div>
    <form method='post'>
        <div class='form-group row gap-5' style='margin-top:-40px;padding-top:0px;display:flex;justify-content: center; align-items: center; text-align:center;flex-direction:row;'>
            <div class='col-1'>
                <input type='submit' class='btn btn-primary btn-lg' value='Previous' asp-page-handler='Previous' />
            </div>
            <div class='col-1'>
                <input type='submit' class='btn btn-primary btn-lg' value='Next' asp-page-handler='Next' />
            </div>
        </div>
    </form>
</body>
