@page
@model Web_Layer.Pages.ticket_infoModel
@{
}

<section>
    <h1> Ticket information</h1>
    <p>
        Individual Visit
        Children up to 3 years old – Free
        From 3 to 18 years old – 5€
        Over 18 years old- 15€
        Pensioners- 5€
        People with disabilities – Free

        Group Visits (for groups of 15 or more individuals)
        For the group organizer-Free
        Children up to 3 years old- Free
        From 3 to 18 years old – 2€
        Over 18 years old – 3€
        For individuals in special institutions-Free

        Please bring the appropriate document to verify age and special categories.
    </p>
    <form method="post">
    <button type="submit" class="btn btn-primary">Buy ticket</button>
    </form>
</section>
