<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimalDesignWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web Layer.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="custom-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light custom-header border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="img/logo3.png" class="logo">Zoo Bazaar
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="homeDropdown">
                                <a class="dropdown-item" href="/About">About</a>
                                <a class="dropdown-item" href="/Map">Map</a>
                                <a class="dropdown-item" href="/ticket_info">Admission Prices</a>
                                <a class="dropdown-item" href="/opening hours">Opening Hours</a>
                                @if (User.IsInRole("Caretaker"))
                                {
                                    <a class="dropdown-item" href="/schedule">Schedule</a>
                                    <a class="dropdown-item" href="/Profile"><b>Profile</b></a>
                                    <a class="dropdown-item" href="/AnnouncementsEmp"><b>Announcements</b></a>
                                }
                                else if (User.IsInRole("Visitor"))
     {
         <a class="dropdown-item" href="/VisitorProfile"><b>Profile</b></a>
         <a class="dropdown-item" href="/AnnoucementsVisitor"><b>Announcements</b></a>
     }
                            </div>
                        </li>
                        <li class="nav-item" style="display:flex;flex-direction:row;">
                            <a class="nav-link" asp-area="" asp-page="/Animals">Animals</a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link" asp-area="" asp-page="/Logout">Logout</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-page="/login">Login</a>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Zoo Bazaar - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/parallax.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
